* {
    box-sizing: border-box;
}

.main {
    height: 100vh;
    padding: 20px;
    background: rgb(255, 241, 241);
}

.sub_main {
    background: #fff;
    border-radius: 8px;
    padding: 10px;
}

.card_mine {
    cursor: pointer;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.card_mine:hover {
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.statistic {
    position: relative;
    width: fit-content;
    color: #444;
}

.statistic::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3px;
    width: 40%;
    border-radius: 4px;
    background: #666;
}

.summary,
.topUser {
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.activity {
    position: relative;
    width: fit-content;
    color: #444;
}

.activity::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3px;
    width: 40%;
    border-radius: 4px;
    background: #666;
}

.scroll_content{
  min-height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
}
