<section class="main">
  <div class="sub_main">
    <div class="header">
      <div class="d-flex">
        <h1>Hello Groza</h1>
      </div>
      <p class="text-muted"><i class="fa-solid fa-angles-right me-1"></i>{{ myDate | date : 'MMMM d'  }}</p>
    </div>
    <div class="sections">
      <h2>Statistics</h2>
      <div class="row mx-2" style="gap: 20px;">
        <div class="col  card_mine d-flex justify-content-between p-2 rounded mb-2">
          <div class="parent">
            <div class="title">
              <h3>mohamed<i class="fa-regular fa-circle-check ms-2 text-primary"></i></h3>
              <p class="text-muted my-1">front-end developer</p>
            </div>
            <div class="rate pb-1">
              <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
              <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
              <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
              <span><i class="fa-solid fa-minus text-secondary ms-1 fs-4"></i></span>
            </div>
          </div>
          <div class="statistic text-center ">
            <span class="text-success pb-4"><i class="fa-solid fa-arrow-trend-up"></i></span>
            <h4 class="text-success pt-2">$320</h4>
            <div class="text-muted">last 6 month</div>
          </div>
        </div>
        <div class="col  card_mine d-flex justify-content-between p-2 rounded mb-2">
          <div class="parent">
            <div class="title">
              <h3>mohamed<i class="fa-regular fa-circle-check ms-2 text-primary"></i></h3>
              <p class="text-muted my-1">front-end developer</p>
            </div>
            <div class="rate pb-1">
              <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
              <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
              <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
              <span><i class="fa-solid fa-minus text-secondary ms-1 fs-4"></i></span>
            </div>
          </div>
          <div class="statistic text-center ">
            <span class="text-success pb-4"><i class="fa-solid fa-arrow-trend-up"></i></span>
            <h4 class="text-success pt-2">$320</h4>
            <div class="text-muted">last 6 month</div>
          </div>
        </div>
        <div class="col  card_mine d-flex justify-content-between p-2 rounded mb-2">
          <div class="parent">
            <div class="title">
              <h3>mohamed<i class="fa-regular fa-circle-check ms-2 text-primary"></i></h3>
              <p class="text-muted my-1">front-end developer</p>
            </div>
            <div class="rate pb-1">
              <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
              <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
              <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
              <span><i class="fa-solid fa-minus text-secondary ms-1 fs-4"></i></span>
            </div>
          </div>
          <div class="statistic text-center ">
            <span class="text-success pb-4"><i class="fa-solid fa-arrow-trend-up"></i></span>
            <h4 class="text-success pt-2">$320</h4>
            <div class="text-muted">last 6 month</div>
          </div>
        </div>
        <div class="col  card_mine d-flex justify-content-between p-2 rounded mb-2">
          <div class="parent">
            <div class="title">
              <h3>mohamed<i class="fa-regular fa-circle-check ms-2 text-primary"></i></h3>
              <p class="text-muted my-1">front-end developer</p>
            </div>
            <div class="rate pb-1">
              <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
              <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
              <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
              <span><i class="fa-solid fa-minus text-secondary ms-1 fs-4"></i></span>
            </div>
          </div>
          <div class="statistic text-center ">
            <span class="text-success pb-4"><i class="fa-solid fa-arrow-trend-up"></i></span>
            <h4 class="text-success pt-2">$320</h4>
            <div class="text-muted">last 6 month</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
