<section class="main">
    <div class="sub_main">
        <div class="header text-end">
            <div class="d-flex justify-content-end">
                <h1 class="text-end">👋 {{ userName }} أهلا</h1>
            </div>
            <p class="text-muted fs-5">{{ myDate | date : 'MMMM d' }}<i class="fa-solid fa-angles-right ms-1" style="transform: rotate(180deg);"></i></p>
        </div>
        <div class="sections_1 ">
          <div class="text-end d-flex justify-content-end mb-4">
            <h2 class="pb-2 statistic ">الإحصائيات</h2>
          </div>
            <div class="row mx-2" style="gap: 20px;">
                <div class="col  card_mine d-flex justify-content-between p-2 rounded mb-2 text-end">
                  <div class="statistics text-center ">
                    <span class="text-success pb-4"><i class="fa-solid fa-arrow-trend-up"></i></span>
                    <h4 class="text-success pt-2">$320</h4>
                    <div class="text-muted">أخر 6 شهور</div>
                </div>
                    <div class="parent">
                        <div class="title">
                            <h3><i class="fa-regular fa-circle-check me-2 text-primary"></i>محمد</h3>
                            <p class="text-muted my-1">مطور الواجهة الامامية</p>
                        </div>
                        <div class="rate pb-1">
                          <span><i class="fa-solid fa-minus text-secondary ms-1 fs-4"></i></span>
                            <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
                            <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
                            <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col  card_mine d-flex justify-content-between p-2 rounded mb-2 text-end">
                  <div class="statistics text-center ">
                    <span class="text-success pb-4"><i class="fa-solid fa-arrow-trend-up"></i></span>
                    <h4 class="text-success pt-2">$320</h4>
                    <div class="text-muted">أخر 6 شهور</div>
                </div>
                    <div class="parent">
                        <div class="title">
                            <h3><i class="fa-regular fa-circle-check me-2 text-primary"></i>محمد</h3>
                            <p class="text-muted my-1">مطور الواجهة الامامية</p>
                        </div>
                        <div class="rate pb-1">
                          <span><i class="fa-solid fa-minus text-secondary ms-1 fs-4"></i></span>
                            <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
                            <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
                            <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col  card_mine d-flex justify-content-between p-2 rounded mb-2 text-end">
                  <div class="statistics text-center ">
                    <span class="text-success pb-4"><i class="fa-solid fa-arrow-trend-up"></i></span>
                    <h4 class="text-success pt-2">$320</h4>
                    <div class="text-muted">أخر 6 شهور</div>
                </div>
                    <div class="parent">
                        <div class="title">
                            <h3><i class="fa-regular fa-circle-check me-2 text-primary"></i>محمد</h3>
                            <p class="text-muted my-1">مطور الواجهة الامامية</p>
                        </div>
                        <div class="rate pb-1">
                          <span><i class="fa-solid fa-minus text-secondary ms-1 fs-4"></i></span>
                            <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
                            <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
                            <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col  card_mine d-flex justify-content-between p-2 rounded mb-2 text-end">
                  <div class="statistics text-center ">
                    <span class="text-success pb-4"><i class="fa-solid fa-arrow-trend-up"></i></span>
                    <h4 class="text-success pt-2">$320</h4>
                    <div class="text-muted">أخر 6 شهور</div>
                </div>
                    <div class="parent">
                        <div class="title">
                            <h3><i class="fa-regular fa-circle-check me-2 text-primary"></i>محمد</h3>
                            <p class="text-muted my-1">مطور الواجهة الامامية</p>
                        </div>
                        <div class="rate pb-1">
                          <span><i class="fa-solid fa-minus text-secondary ms-1 fs-4"></i></span>
                            <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
                            <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
                            <span><i class="fa-solid fa-minus text-primary ms-1 fs-4"></i></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="section_2 text-end">
          <div>

          </div>
          <div class="text-end d-flex justify-content-end mb-4">
            <h2 class="py-2 activity">نشاطات</h2>
          </div>
            <div class="row d-flex justify-content-between my-2 rounded mb-2 mx-2" style="gap: 20px;">
              <div class="col p-2 rounded mb-2 topUser">
                <h3 class="mb-2">أعلي المستخدمين</h3>
                <div class="scroll_content">
                  <ul class="list-group list-group-flush ">
                    <li class="list-group-item d-flex text-center justify-align-center">
                      <div class="currency col-3">
                        <h5 class="text-secondary">+$5.965</h5>
                      </div>
                      <div class="info col-6">
                        <h4>أصفر</h4>
                        <p class="mb-0 text-muted">الادمن</p>
                      </div>
                      <div class="image col-3">
                          <img src="/assets/images/dashboard/man.png" width="50">
                      </div>
                    </li>

                </ul>
                </div>
            </div>
                <div class="col p-2 rounded mb-2 summary text-end">
                  <h3 class="mb-2">ملخص عن المالكين</h3>
                    <div class="table-responsive">
                        <table class="table table-hover table-borderless text-center ">
                            <thead>
                                <tr>
                                  <th scope="col" class="text-end">الحالة</th>
                                  <th scope="col">الهاتف</th>
                                  <th scope="col">كبار الشخصيات</th>
                                  <th scope="col">الأسم الثاني</th>
                                  <th scope="col">الأسم الأول</th>
                                  <th scope="col">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="vertical-align: middle; cursor: pointer;">
                                  <td class="text-success text-end"><i class="fa-solid fa-check me-1"></i>مفعل</td>
                                  <td>01006438385</td>
                                  <td class="text-primary"><i class="fa-brands fa-gripfire"></i></td>
                                  <td>الدحيح</td>
                                  <td>سيد</td>
                                  <th scope="row">1</th>
                                </tr>
                                <tr style="vertical-align: middle; cursor: pointer;">
                                  <td class="text-danger text-end"><i class="fa-solid fa-xmark me-1"></i>غير مفعل</td>
                                  <td>01006438385</td>
                                  <td class="text-secondary"><i class="fa-solid fa-heart-pulse"></i></td>
                                  <td>احمد</td>
                                  <td>خالد</td>
                                  <th scope="row">2</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
