<div class="container-mine">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <h3 class="mb-3">Create User</h3>
    <form [formGroup]="registerForm">
      <div class="form-group">
      <label>First Name</label>
      <app-input
        [control]="registerForm.get('firstName')"
        [id]="'register-firstName'"
        [class]="'form-control mb-2'"
        [style]="'width: 300px'"
        [type]="'text'"
        [placeholder]="'enter first name'">
      </app-input>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <app-input
        [control]="registerForm.get('lastName')"
        [id]="'register-lastName'"
        [class]="'form-control mb-2'"
        [style]="'width: 300px'"
        [type]="'text'"
        [placeholder]="'enter last name'">
      </app-input>
      </div>
      <div class="form-group">
        <label>User Name</label>
        <app-input
        [control]="registerForm.get('userName')"
        [id]="'register-userName'"
        [class]="'form-control mb-2'"
        [style]="'width: 300px'"
        [type]="'text'"
        [placeholder]="'Enter User Name'">
      </app-input>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <app-input
        [control]="registerForm.get('phone')"
        [id]="'register-phone'"
        [class]="'form-control mb-2'"
        [style]="'width: 300px'"
        [type]="'number'"
        [placeholder]="'Enter Phone'">
      </app-input>
      </div>
      <div class="form-group">
        <label>Address</label>
        <app-input
        [control]="registerForm.get('address')"
        [id]="'register-address'"
        [class]="'form-control mb-2'"
        [style]="'width: 300px'"
        [type]="'text'"
        [placeholder]="'Enter Address'">
      </app-input>
      </div>
      <div class="form-group">
        <label>Email</label>
        <app-input
        [control]="registerForm.get('email')"
        [id]="'register-email'"
        [class]="'form-control mb-2'"
        [style]="'width: 300px'"
        [type]="'email'"
        [placeholder]="'enter email'">
      </app-input>
      </div>
      <div class="form-group">
        <label>Password</label>
        <app-input
        [control]="registerForm.get('password')"
        [id]="'register-password'"
        [class]="'form-control mb-2'"
        [style]="'width: 300px'"
        [type]="'password'"
        [placeholder]="'*********'">
      </app-input>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <app-input
        [control]="registerForm.get('confirmPassword')"
        [id]="'register-confirmPassword'"
        [class]="'form-control mb-2'"
        [style]="'width: 300px'"
        [type]="'password'"
        [placeholder]="'*********'">
      </app-input>
      </div>

    </form>
    <div class="mx-auto text-center">
      <button class="btn btn-outline-primary mt-2" (click)="onRegister()" >Create User<i class="fa-solid fa-user-pen"></i></button>
    </div>
  </div>
</div>
