<section class="main">
  <div class="sub_main">
    <div class="d-flex">
      <h1 class="sec_title">Invitions</h1>
    </div>

    <div class="section_2 my-3 mx-2">
      <div class="filter_search d-flex justify-content-between">
        <div class="search w-50">
          <input type="search" class="form-control" placeholder="Search Here">
        </div>
        <div class="text-end">
          <button class="btn btn-outline-info me-1"><i class="fa-solid
              fa-filter"></i></button>
          <button class="btn btn-outline-dark ms-1"><i class="fa-solid fa-code"></i></button>
        </div>
      </div>
    </div>
    <div class="section_3 rounded">
      <div class="table-responsive">
        <table class="table table-hover table-borderless text-center ">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Card Id</th>
              <th scope="col">Unit Number</th>
              <th scope="col">Opreation</th>
            </tr>
          </thead>
          <tbody>
            <tr style="vertical-align: middle; cursor: pointer;">
              <th data-bs-toggle="modal" data-bs-target="#openInvition"
                scope="row">1</th>
              <td data-bs-toggle="modal" data-bs-target="#openInvition">mohamed</td>
              <td data-bs-toggle="modal" data-bs-target="#openInvition">01006438385</td>
              <td data-bs-toggle="modal" data-bs-target="#openInvition"
                class="text-primary">52369850215475</td>
              <td data-bs-toggle="modal" data-bs-target="#openInvition">
                D4
              </td>
              <td>
                <button class="btn me-1 border-0">
                  <img src="assets/images/main/delete.png" width="30">
                </button>
              </td>
            </tr>
            <tr style="vertical-align: middle; cursor: pointer;">
              <th scope="row">1</th>
              <td>mohamed</td>
              <td>01006438385</td>
              <td class="text-primary">52369850215475</td>
              <td data-bs-toggle="modal" data-bs-target="#openInvition">
                R96
              </td>
              <td>
                <button class="btn me-1 border-0">
                  <img src="assets/images/main/delete.png" width="30">
                </button>
              </td>
            </tr>
            <tr style="vertical-align: middle; cursor: pointer;">
              <th scope="row">3</th>
              <td>mohamed</td>
              <td>01006438385</td>
              <td class="text-primary">52369850215475</td>
              <td data-bs-toggle="modal" data-bs-target="#openInvition">
                G45
              </td>
              <td>
                <button class="btn me-1 border-0">
                  <img src="assets/images/main/delete.png" width="30">
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
