<input
  [type]="type"
  [id]="id"
  [ngClass]="{'is-invalid': control.dirty ? showErrors() : ''}"
  [formControl]="$any(control)"
  [class]="class"
  [style]="style"
  [placeholder]="placeholder??''"
  autocomplete="off"
  />
<ng-container
  *ngIf=" control.dirty && control.touched && control.errors ">
  <small *ngIf="control.errors?.['required']">
      This field is required
  </small>
  <small *ngIf="control.errors?.['email']">
    The Email field must be a valid email
  </small>
  <small *ngIf="control.errors?.['minlength']">
      Value you entered is {{ control.errors['minlength'].actualLength}}
      character, but should at least
      {{ control.errors['minlength'].requiredLength}}
  </small>
</ng-container>
