<input [type]="type" [id]="id" [ngClass]="{'is-invalid': control.dirty ? showErrors() : ''}" [formControl]="$any(control)" [class]="class" [style]="style" [placeholder]="placeholder??''" autocomplete="off" />
<ng-container *ngIf=" control.dirty && control.touched && control.errors ">
    <small *ngIf="control.errors?.['required']">
    هذا الحقل مطلوب
  </small>
    <small *ngIf="control.errors?.['email']">
    صيغة ايميل خاطئة
  </small>
    <small *ngIf="control.errors?.['minlength']">
    القيمة التي ادخلتها {{ control.errors['minlength'].actualLength}} حرف ولكن يجب ان تكون {{
    control.errors['minlength'].requiredLength}}
    <!-- Value you entered is {{ control.errors['minlength'].actualLength}}
      character, but should at least
      {{ control.errors['minlength'].requiredLength}} -->
  </small>
</ng-container>