* {
  box-sizing: border-box;
}

.main {
  padding: 20px;
  background: rgb(255, 241, 241);
  height: 92vh;
}

.sub_main {
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  gap: 20px;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  height: 70vh;
}

.main .sub_main .card_mine{
  height: max-content;
  align-self: center;
  cursor: pointer;
  transition: .3s all linear;
}

.main .sub_main .card_mine:hover {
  transform: translateY(-5px);
}

.main .sub_main .card_mine h3 a{
  color: #666 !important;
}

.main .sub_main .card_mine:hover h3 a{
  color: #111 !important;
}

.main .sub_main .card_mine:hover{
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1), inset 3px 3px 5px rgba(0, 0, 0, 0.1) !important;
}

@media screen and (max-width: 767px) {
  .sub_main {
    grid-template-columns: 1fr;
  }
}

