body {
  background: #f9f9f9;
  font-family: "Roboto", sans-serif;
}

.shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
  min-width: 250px;
}

.tab-content {
  flex: 1;
}

.form-group {
  margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  color: #333;
}

.nav-pills a.nav-link i {
  width: 20px;
}

.img-circle img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 5px solid #fff;
}

.tab-content .tab-pane .edit{
  position: relative;
}

.tab-content .tab-pane .edit span{
  position: absolute;
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  font-size: 22px;
  cursor: pointer;
  color: #1da1f2;
  transition: .3s all linear;
}

.tab-content .tab-pane .edit span:hover{
  transform: scale(1.1);
}
