<section class="py-5 my-5">
  <div class="container">
    <div class="bg-white shadow-lg rounded d-block d-sm-flex">
      <div class="profile-tab-nav border-right">
        <div class="p-4">
          <div class="img-circle text-center mb-3">

                  <img  src="assets/images/dashboard/man.png" alt="Image" class="shadow img-fluid">
              </div>
          <h4 class="text-center">{{fname}}{{lname}}</h4>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link active text-light rounded ms-2" style="cursor: pointer;background-color: #1da1f2;">
            Account<i class="fa-solid fa-user-lock ms-2"></i>
          </a>
        </div>
      </div>
      <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="account" role="tabpanel"
          aria-labelledby="account-tab">
          <h3 class="mb-4 ">Profile Settings</h3>
          <form [formGroup]="profileForm">
            <div class="row ">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="">First Name</label>
                  <input type="text" formControlName="fname" class="form-control
                    ">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="">Last Name</label>
                  <input type="text" formControlName="lname" class="form-control
                    ">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="">Phone</label>
                  <input type="text" formControlName="phone" class="form-control
                    ">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="">User Name</label>
                  <input type="text" formControlName="username"
                    class="form-control ">
                </div>
              </div>
            </div>
            <div class="">
              <button class="btn btn-outline-dark me-1 mb-2 " data-bs-toggle="modal"
                data-bs-target="#uploadImg"><i class="fa-solid fa-image me-2"></i>
                Edit Profile Image
                </button>
              <button class="btn btn-outline-info ms-1 mb-2 "><i
                  class="fa-solid fa-user-pen me-2 "></i>Edit</button>
                <button class="btn btn-outline-danger ms-2 mb-2 "><i
                  class="fa-solid fa-user-alt-slash me-2 "></i>Delete My Account</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- modal upload img -->
<div class="modal fade" id="uploadImg" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close ms-0" data-bs-dismiss="modal"
          aria-label="Close"></button>
        <h5 class="modal-title ms-auto" id="staticBackdropLabel"><i
            class="fa-solid fa-image"></i>
        </h5>
      </div>
      <div class="modal-body ">
        <form #img="ngForm">
          <div class="input-group mb-3">
            <input type="file" class="form-control " [(ngModel)]="fileImage"
              name="image" />
            <span class="input-group-text">Image</span>
          </div>
          <div class="mx-auto text-center">
            <button type="submit" class="btn btn-outline-primary mx-4"><i
                class="fa-solid fa-plus me-2"></i>Add</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger"
          data-bs-dismiss="modal"><i
            class="fa-solid fa-xmark me-2"></i>Close</button>
      </div>
    </div>
  </div>
</div>
